{% extends 'base.html.twig' %}

{% block title %}Filament{% endblock %}

{% block body %}
    <h1>Filament</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ filament.id }}</td>
            </tr>
            <tr>
                <th>Qrcode</th>
                <td>{{ filament.qrcode }}</td>
            </tr>
            <tr>
                <th>Color</th>
                <td>{{ filament.color }}</td>
            </tr>
            <tr>
                <th>Colorhex</th>
                <td>{{ filament.colorhex }}</td>
            </tr>
            <tr>
                <th>Specs</th>
                <td>{{ filament.specs ? filament.specs|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ filament.image }}</td>
            </tr>
            <tr>
                <th>Link</th>
                <td>{{ filament.link }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_filament_index') }}">back to list</a>

    <a href="{{ path('app_filament_edit', {'id': filament.id}) }}">edit</a>

    {{ include('filament/_delete_form.html.twig') }}
{% endblock %}
