<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Filament Info{% endblock %}</title>
        <link rel="icon" href="{{ asset('images/filament.svg') }}">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('images/filament.svg') }}">
		<link rel="mask-icon" href="{{ asset('images/filament.svg') }}" color="#5bbad5">
        {% block stylesheets %}{% endblock %}
        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body class="bg-gray-100 dark:bg-gray-700" {{ stimulus_controller('darkmode') }}>
        <div class="flex flex-col">
            {{ render_navigation() }}
            <main class="bg-asus_white flex-1 p-8 pt-16 flex flex-col dark:bg-gray-700">
            {% block body %}{% endblock %}
            </main>
        </div>
    </body>
</html>
